*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
nav{
    /* test */
    width: 100%;

    background-color: #0084FD;
}

.container-nav{
    width: 90%;
    
    margin: auto;

    background-color: #0084FD;
    /* test */

    display: flex;
    justify-content: space-between;
}

#container-logo{
    width: 25%;
}

#container-logo img{
    margin-top: 5px;
}
#item-hamburger{
    width: 15%;
}

.fa-solid fa-bars{
    font-size: 50px;
}
/* /header */

/* section default*/
.section{
    border: 1px solid black;
    /* test */

    width: 100%;
}

.container-section{
    border: 1px solid black;
    
    height: 95%;

    /* test */

    width: 90%;

    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.col{
    height: calc(100% / 5);

    border-radius: 25px;

    /* test */

    width: 100%;

    background-color: #B5DDFF;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}
/* /section default*/

/* section 1 */
.paragraph-1{
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-solid fa-file-code{
    font-size: 30px;
    color: #0084FD;
}

.container-img1{
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img1-big{
    max-width: 150px;
}

.container-img1-big img{
    width: 100%;
    height: 100%;
}
/* /section 1 */

/* section 2 */
#upper-box{
    border: 1px solid black;
    /* test */
    height: 50%;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

}

#lower-box{
    border: 1px solid black;
    /* test */;
    height: 50%;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.paragraph-2{
    width: 100%;
    /* test */
    height: 50%;

    background-color: black;
}

.container-img2{
    width: 100%;
    /* test */
    height: 50%;

    background-color: red;
}
/* /section 2 */

/* section 3 */
#head-section3{
    height: 25%;
    border: 1px solid black;
    /* test */
    width: 100%;

}

.block-section3{
    height: 25%;
    border: 1px solid black;
    /* test */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img3{
    height: 40%;

    background-color: aqua;
    /* test */
    width: 90%;

}

.paragraph-3{
    height: 60%;
    
    background-color: rgb(136, 0, 255);
    /* test */
    width: 90%;

}
/* /section 3 */

/* section 4 */
.four h3{
    font-size: 25px;
}

#container-block4{
    width: 100%;
    height: 100%;
    background-color: red;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block-section4{
    width: 100%;
    height: calc(100% / 6);

    border: 1px solid black;
}
/* /section 4 */

/* section 5 */
#about_us{
    width: 100%;
    height: 70%;
    
    background-color: blue;
}

#profile{
    width: 100%;
    height: 30%;
    
    background-color: rgb(0, 255, 64);
}
/* /section 5 */

/* footer */
footer{
    width: 100%;
    height: 200px;

    background-color: black;
}
/* /footer */