*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
nav{
    /* test */
    width: 100%;

    background-color: #0084FD;
}

.container-nav{
    width: 90%;
    
    margin: auto;

    background-color: #0084FD;
    /* test */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-logo{
    width: 25%;
}

#container-logo img{
    margin-top: 5px;
}

/* display none */
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    display: none;
}

#menu .items-menu a{
    text-decoration: none;

    color: white;
}

#menu .items-menu button{
    background-color: white;

    border-radius: 25px;
    padding: 5px 20px;
}
/* /display none */

.fa-solid.fa-bars{
    font-size: 25px;

    color: white;
}
/* /header */

/* section default*/
.section{
    width: 100%;
}

.container-section{    

    width: 90%;

    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.col{
    border-radius: 25px;

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px ;

    width: 100%;

    background-color: #B5DDFF;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}
/* /section default*/

/* section 1 */
.paragraph-1{
    width: 90%;

    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph-1 h3{
    font-size: 25px;
    color: #0084FD;  
}

.paragraph-1 p{
    font-size: 18px;

    padding: 10px;
}

.paragraph-1 button{
    color: white;

    background-color: #0084FD;

    margin-top: 10px;
    padding: 15px 80px;

    border-radius: 25px;
}

.container-img1{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img1-big{
    width: 80%;
}
.container-img1-big img{
    width: 100%;
    height: 100%;
}

.container-img1 h3{
    font-size: 30px;
    color: #0084FD;
}

.container-img1 i{
    font-size: 80px;
    color: #0084FD;
}
/* /section 1 */

/* section 2 */
.section.two{
    background-color: #9792E4;
}

#upper-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    margin-bottom: 15px;

}

#lower-box{
    border-radius: 30px;
    background-color: white;
    height: 50%;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
}

.paragraph-2{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
}

.paragraph-2 h3{
    text-align: center;

    font-size: 35px;

    margin-top: 20px;
}

.paragraph-2 p{
    font-size: 18px;

    margin-left: 10px;
}


.container-img2 img{
    width: 100%;
    height: 100%;
}

#lower-box .paragraph-2 {
    color: black;
}

#circle{
    padding: 15px;
    border-radius: 50%;

    margin-bottom: 20px;

    background-color: #9792E4;
}
/* /section 2 */

/* section 3 */
#head-section3{
    width: 100%;

    text-align: center;

    padding: 15px;
}

#head-section3 div{
    margin: 15px;
}

#head-section3 h3{
    margin-top: 25px;

    font-size: 30px;

    color: #9792E4;
}

#head-section3 p{
    margin-top: 25px;

    font-size: 18px;
}

.block-section3{
    border-radius: 25px;

    background-color: #9792E4;

    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-img3 img{
    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;

    
}

.paragraph-3{
    width: 90%;

    color: white;
}

.paragraph-3 p{
    font-size: 18px;

    margin: 25px;
}

.paragraph-3 div{
    text-align: center;

    font-size: 22px;
}
/* /section 3 */

/* section 4 */
.four{
    background-color: #9792E4;
}

.four h3{
    font-size: 35px;

    color: white;

    text-align: center;

    margin-top: 20px;
}

#container-block4{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 30px;
}

.block-section4{
    width: 100%;

    padding: 30px;

    background-color: white;

    border-radius: 25px;
}

.block-section4 div{
    font-size: 50px;

    color: #9792E4;
}

.block-section4 h4{
    margin-top: 20px;

    font-size: 20px;

    color: #9792E4;
}

.block-section4 p{
    margin-top: 20px;
}

.block-section4 button{
    margin-top: 30px;

    color: white;

    background-color: #9792E4;

    border-radius: 25px;

    padding: 10px 50px;
}
/* /section 4 */

/* section 5 */
#about_us{
    width: 100%;
}

#about_us h3{
    font-size: 40px;
    color: #9792E4;

    margin-top: 20px;
}

#about_us p{
    font-size: 18px;
    margin-top: 25px;
}

#container-profile{
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile{
    width: 50%;
}

#profile img{
    width: 100%;
    height: 100%;

    border-radius: 50%;
}

#sub-profile div{
    font-size: 30px;
    color: #9792E4;
}

#sub-profile button{
    margin-top: 20px;

    border-radius: 25px;
    padding: 8px 20px;

    font-size: 16px;
    color: white;

    background-color: #9792E4;
}
/* /section 5 */

/* section6 */
.six{
    background-color: #9792E4;
}

.six div{
    font-size: 20px;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;

    color: white;
}

.six h4{
    font-size: 30px;
    color: white;
}

.six h3{
    font-size: 50px;
    color: #FDC15F;
}

.six p{
    font-size: 18px;
}

.six button{
    margin-top: 20px;

    border-radius: 35px;
    padding: 20px 40px;

    font-size: 20px;
    color: #9792E4;

    background-color: white;
}

.six #copyright{
    font-size: 16px
}

.six #copyright span{
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.six #copyright a{
    color: white;
}
/* /section6 */

/* footer */
footer{
    width: 100%;

    background-color: black;
}

#container-footer{
    width: 70%;

    margin: auto;
}
footer div{
    color: white;

    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
}

footer a{
    color: #9792E4;
}
/* /footer */

/* responsive */
 /* tablet */
@media screen and (min-width: 577px) and (max-width: 769px){
    .one .container-section{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    } 

    .one .col:first-child{
        width: calc(100% / 3 * 2 - (15px / 3));
    }

    .one .col{
        width: calc(100% / 3 - (15px / 3 * 2));
    }

    .block-section3{
        display: flex;
        flex-direction: row;
    }

    .container-img3{
        width: 35%;
    }

    .paragraph-3{
        width: 65%;
    }

    #container-block4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #container-block4 .block-section4{
        width: calc(100% / 2 - (20px / 2));
    }

    .five .container-section{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    #about_us{
        width: 60%;
    }

    #container-profile{
        width: 40%;
    }

    #container-profile #profile{
        margin: auto
    }
}
 /* /tablet */

 /* laptop */
@media screen and (min-width: 770px){

    .container-nav{
        display: flex;
        justify-content: center;
    }

    #menu{
        display: flex;
    }

    #item-hamburger .fa-solid.fa-bars{
        display: none;
    }

    .one .container-section{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 80%;

    } 

    .one .col:first-child{
        width: calc(100% / 3 * 2 - (15px / 3));

        display: flex;
        flex-direction: row;
    }

    .one .col{
        width: calc(100% / 3 - (15px / 3 * 2));
    }

    .two .container-section{
        display: flex;
        flex-direction: row;
        gap: 50px;

        width: 60%;
    }

    #lower-box{
        margin-top: 120px;
    }

    .three .container-section{
        width: 75%;
    }

    .block-section3{
        display: flex;
        flex-direction: row;
    }

    .container-img3{
        width: 30%;
    }

    .paragraph-3{
        width: 70%;
    }

    .paragraph-3 div {
        text-align: left;

        margin-left: 25px;
    }

    .four #container-block4{
        display: flex;
        flex-flow: row wrap;
    }

    .block-section4{
        width: calc(100% / 3 - (20px / 3 * 2));
    }

    .five .container-section{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    #about_us{
        width: 60%;
    }

    #container-profile{
        width: 40%;

        margin-top: 50px;
    }

    #container-profile #profile{
        margin: auto
    }

    .six .container-section{
        width: 50%;

        margin: auto;
    }

    
}
 /* /laptop */